.s-article
	.s-article__container
		h1.h1 Заголовок 1
		h2.h2 Заголовок 2
		h3.h3 Заголовок 3
		p.p Станок с модулем взрывной накачки: Монтажная консоль отклоняется в сторону вручную. Стойка со шлангом накачки и точным манометром. Диапазон зажима изнутри/снаружи 14-26"/12-23". Макс. ширина колеса 16". Макс. диаметр колеса 1143 мм. Усилие отжима 2500 кг.
		p.p-13 Мелкий текст: Предназначен для монтажа и демонтажа колес легковых автомобилей, мотоциклов и легких грузовиков с диаметром обода до 21 дюйма (535 мм) и шириной до 13 дюймов (330 мм). Надежный и неприхотливый станок в традиционном исполнении. Прочная и безопасная конструкия обеспечивает долговременную безотказную работу станка. Поворотная консоль позволяет устанавливать шиномонтажный станок непосредственно у стены, давая возможность экономить рабочее пространство. Рабочий стол с самоцентрнирующимся 4-х кулачковым патроном и двумя силовыми пневмоцилиндрами вращается в обе стороны. Мощный отжимающий пневмоцилиндр и лопатка со специальным профилем позволяют быстро и бережно произвести демонтаж. Монтажная головка выставляется относительно обода по высоте и по горизонтали. Её форма подходит для всех видов шин. В блок подготовки воздуха входят: фильтр, влагоотделитель, регулятор давления, манометр, лубрикатор. В качестве опций доступны пластиковые накладки на монтажную голловку и кулачки.
		.alert.text-graphite-gray
			svg.alert__icon.fill-carmine-pink(width="30" height="30"): use(href="#exclamation-mark")
			.alert__body
				.alert__title.text-500 Важно. Заголовок
				.alert__desc.text-granite Обычный текст: Полуавтоматический шиномонтажный станок с модулем взрывной накачки. 
		h3.h3 Таблица
		table.table: tbody
			tr.tr
				td.td Диаметр зажима изнутри, дюйм
				td.td 14-26
			tr.tr
				td.td Диапазон зажима снаружи, дюйм
				td.td 12-23
			tr.tr
				td.td Ширина обода, дюйм
				td.td 16
			tr.tr
				td.td Максимальная ширина колеса, дюйм (мм)
				td.td 17 (430)
			tr.tr
				td.td Максимальный диаметр колеса, мм
				td.td 1143
			tr.tr
				td.td Количество скоростей вращения монтажного стола, об/мин
				td.td 1
			tr.tr
				td.td Габаритные размеры, мм
				td.td 1830х650х1030
			tr.tr
				td.td Диапазон отжима, мм
				td.td 60-440
		p.p.offset-0 Цитата в тексте:
		blockquote.blockquote Мелкий текст: Предназначен для монтажа и демонтажа колес легковых автомобилей, мотоциклов и легких грузовиков с диаметром обода до 21 дюйма (535 мм) и шириной до 13 дюймов (330 мм). Надежный и неприхотливый станок в традиционном исполнении. Прочная и безопасная конструкия обеспечивает долговременную безотказную работу станка. Поворотная консоль позволяет устанавливать шиномонтажный станок непосредственно у стены, давая возможность экономить рабочее пространство. Рабочий стол с самоцентрнирующимся 4-х кулачковым патроном и двумя силовыми пневмоцилиндрами вращается в обе стороны. Мощный отжимающий пневмоцилиндр и лопатка со специальным профилем позволяют быстро и бережно произвести демонтаж. Монтажная головка выставляется относительно обода по высоте и по горизонтали. Её форма подходит для всех видов шин. В блок подготовки воздуха входят: фильтр, влагоотделитель, регулятор давления, манометр, лубрикатор. В качестве опций доступны пластиковые накладки на монтажную голловку и кулачки.
		p.p.offset Обычный текст: Полуавтоматический шиномонтажный станок с модулем взрывной накачки. Монтажная консоль отклоняется в сторону вручную. Стойка со шлангом накачки и точным манометром. Диапазон зажима изнутри/снаружи 14-26"/12-23". Макс. ширина колеса 16". Макс. диаметр колеса 1143 мм. Усилие отжима 2500 кг.
		.spoiler(style="margin-bottom: 25px")
			header.spoiler__header.text-500.text-granite.paper-yellow
				.spoiler__title Спойлер Заголовок
				svg.spoiler__union.icon.text-purple(width="8" height="5"): use(href="#union")
			.spoiler__content.hidden
				p.p.offset-0 Спойлер обычный текст

		.c-envelope.offset-50(style="background-image: url(images/bg-b1.jpg)")
			.c-envelope__blur(style="background-image: url(images/bg-b1.jpg)")
			.c-envelope__container
				.c-envelope__title.text-dark-brown Комфортная Среда
				.c-envelope__icons.c-envelope__icons_skew.paper-fir-green
					img.c-envelope__icon(src="images/icons/1.svg" width="30" height="26")
					img.c-envelope__icon(src="images/icons/2.svg" width="28" height="30")
					img.c-envelope__icon(src="images/icons/3.svg" width="26" height="30")

		.c-envelope.offset-50(style="background-image: url(images/bg-b2.jpg)")
			.c-envelope__blur(style="background-image: url(images/bg-b2.jpg)")
			.c-envelope__container
				.c-envelope__title.text-white Строительные Технологии
				.c-envelope__icons
					img.c-envelope__icon(src="images/icons/11.svg" width="30" height="26")
					img.c-envelope__icon(src="images/icons/12.svg" width="28" height="30")
					img.c-envelope__icon(src="images/icons/13.svg" width="26" height="30")
					img.c-envelope__icon(src="images/icons/14.svg" width="26" height="30")
		//- 	.g-edge-lg
		//- 		.g-edge-lg__card: figure.c-edge-lg
		//- 			img.c-edge-lg__icon(src="images/edge/1.svg" width="90" height="90")
		//- 			.c-edge-lg__text
		//- 				.c-edge-lg__title.text-granite Собственное производство
		//- 				.c-edge-lg__desc.text-asphalt Собственное производство оборудования для диагностики ходовой части автомобиля
				
		//- 		.g-edge-lg__card: figure.c-edge-lg
		//- 			img.c-edge-lg__icon(src="images/edge/2.svg" width="90" height="90")
		//- 			.c-edge-lg__text
		//- 				.c-edge-lg__title.text-granite Полный спектр автосервисного оборудования
		//- 				.c-edge-lg__desc.text-asphalt Полный спектр автосервисного и диагностического оборудования собственного производства
			
		//- 	.g-edge-md
		//- 		.g-edge-md__card: figure.c-edge-md
		//- 			header.c-edge-md__header
		//- 				img.c-edge-md__icon(src="images/edge/1.svg" width="60" height="60" alt="" role="presentation")
		//- 				.c-edge-md__title.text-500.text-granite Собственное производство
		//- 			figcaption.c-edge-md__desc.text-300.text-asphalt Собственное производство оборудования для диагностики ходовой части автомобиля
				
		//- 		.g-edge-md__card: figure.c-edge-md
		//- 			header.c-edge-md__header
		//- 				img.c-edge-md__icon(src="images/edge/2.svg" width="60" height="60" alt="" role="presentation")
		//- 				.c-edge-md__title.text-500.text-granite Полный спектр автосервисного оборудования
		//- 			figcaption.c-edge-md__desc.text-300.text-asphalt Полный спектр автосервисного и диагностического оборудования собственного производства
					
		//- 		.g-edge-md__card: figure.c-edge-md
		//- 			header.c-edge-md__header
		//- 				img.c-edge-md__icon(src="images/edge/3.svg" width="60" height="60" alt="" role="presentation")
		//- 				.c-edge-md__title.text-500.text-granite Собственная образовательная база
		//- 			figcaption.c-edge-md__desc.text-300.text-asphalt Специалисты Компании постоянно повышают свою квалификацию в области эксплуатации и сервиса
			
		//- 	.g-edge-sm
		//- 		.g-edge-sm__card: figure.c-edge-sm.text-center
		//- 			img.c-edge-sm__icon(src="images/edge/1.svg" width="45" height="45" alt="" role="presentation")
		//- 			figcaption
		//- 				.c-edge-sm__title.text-500.text-granite Собственное производство
		//- 				.c-edge-sm__desc.text-300.text-asphalt Собственное производство оборудования для диагностики ходовой части автомобиля
				
		//- 		.g-edge-sm__card: figure.c-edge-sm.text-center
		//- 			img.c-edge-sm__icon(src="images/edge/2.svg" width="45" height="45" alt="" role="presentation")
		//- 			figcaption
		//- 				.c-edge-sm__title.text-500.text-granite Полный спектр автосервисного оборудования
		//- 				.c-edge-sm__desc.text-300.text-asphalt Полный спектр автосервисного и диагностического оборудования собственного производства
				
		//- 		.g-edge-sm__card: figure.c-edge-sm.text-center
		//- 			img.c-edge-sm__icon(src="images/edge/3.svg" width="45" height="45" alt="" role="presentation")
		//- 			figcaption
		//- 				.c-edge-sm__title.text-500.text-granite Собственная образовательная база
		//- 				.c-edge-sm__desc.text-300.text-asphalt Специалисты Компании постоянно повышают свою квалификацию в области эксплуатации и сервиса
				
		//- 		.g-edge-sm__card: figure.c-edge-sm.text-center
		//- 			img.c-edge-sm__icon(src="images/edge/4.svg" width="45" height="45" alt="" role="presentation")
		//- 			figcaption
		//- 				.c-edge-sm__title.text-500.text-granite Опыт работы более 60 лет (с 1957 года)
		//- 				.c-edge-sm__desc.text-300.text-asphalt Группа Компаний ГАРО объявляет новогоднюю акцию: в декабре и январе при покупке ЛТК система
			
		//- 	ul.ul
		//- 		li.li Полуавтоматический шиномонтажный станок с модулем взрывной накачки. 
		//- 		li.li Монтажная консоль отклоняется в сторону вручную. 
		//- 		li.li Стойка со шлангом накачки и точным манометром. 
		//- 		li.li Диапазон зажима изнутри/снаружи 14-26"/12-23". 
		//- 		li.li Макс. ширина колеса 16". 
		//- 		li.li Макс. диаметр колеса 1143 мм. 
		//- 		li.li Усилие отжима 2500 кг.
			
		h2.h2.text-granite.offset-20 Галерея
		.gallery-slider.offset-50
			.gallery-slider__pr: .swiper-container
				.swiper-wrapper: each i in [1,2,3,4]
					.swiper-slide: a.c-gallery(href="images/gallery/"+i+".jpg" data-fancybox="gallery-slider"): img.image-full(src="images/gallery/"+i+".jpg" width="880" height="585" alt="Фото")
			
			.gallery-slider__thumbs
				.swiper-container
					.swiper-wrapper
						.swiper-slide.active: img.image-full(src="images/gallery/1.jpg" width="240" height="160" alt="Фото")
						.swiper-slide: img.image-full(src="images/gallery/2.jpg" width="240" height="160" alt="Фото")
						.swiper-slide: img.image-full(src="images/gallery/3.jpg" width="240" height="160" alt="Фото")
						.swiper-slide: img.image-full(src="images/gallery/4.jpg" width="240" height="160" alt="Фото")
				button.slider-button.gallery-slider__prev
					svg.slider-button__icon(width="40" height="40"): use(href="#prev")
				button.slider-button.gallery-slider__next
					svg.slider-button__icon(width="40" height="40"): use(href="#next")

		.g-gallery.offset-20: each gallery in [1,2,3,4,5,6,7,8]
			.g-gallery__card: a(href="images/grid-gallery/"+gallery+".jpg" data-fancybox="gallery"): img.image-full(src="images/grid-gallery/"+gallery+".jpg" width="204" height="135" alt="Фото")

		.list-icons.list-icons_small.offset-20 
			.list-icons__icon
				img(src="images/icons/4.svg", alt="")
			.list-icons__title Кровельные и фасадные материалы
			.list-icons__icon
				img(src="images/icons/5.svg", alt="")
			.list-icons__title Ворота, шагбаумы, противопожарные двери 
			.list-icons__icon
				img(src="images/icons/6.svg", alt="")
			.list-icons__title Алюминиевые, металлопластиковые конструкции
			.list-icons__icon
				img(src="images/icons/7.svg", alt="")
			.list-icons__title Металлоконструкции, лестницы, ограждения

		.list-icons.list-icons_medium.offset-20 
			.list-icons__icon
				img(src="images/icons/8.svg", alt="")
			.list-icons__title Пункт 1
			.list-icons__icon
				img(src="images/icons/9.svg", alt="")
			.list-icons__title Пункт 2
			.list-icons__icon
				img(src="images/icons/10.svg", alt="")
			.list-icons__title Пункт 3


		//- .s__column.s__column_aside.s__gutter.aside__item
			//- include aside-rec-catalog
			//- .aside__item
			//- 	a(href="#"): img.image-full(src="images/banner.jpg" width="280" height="460")
