.aside-rec
	.aside-rec__title Вам также может 
		br
		| понадобиться:

	card-catalog(title="Тактильная вывеска с шрифтом Брайля 500х600мм" price="4400.00 ₽" image="images/catalog/6.jpg" :mods="{list: app.width < 992}")
		| Материал: Акрил/ПВХ/Композит
		br
		| Размер: 500х600мм