.s-breadcrumbs
	.s-breadcrumbs__container
		ul.s-breadcrumbs__list
			li.s-breadcrumbs__item 
				a.s-breadcrumbs__link(href="#") Главная
			li.s-breadcrumbs__item
				a.s-breadcrumbs__link(href="#") Каталог
			li.s-breadcrumbs__item
				span.s-breadcrumbs__ink Беспроводная кнопка вызова помощи для инвалидов ДП-1м