.s-main-catalog
	.s-main-catalog__container.grid
		aside.grid__column.grid__column_aside.aside
			.aside__flag(@click="asideMenuCatalog = !asideMenuCatalog")
				svg.aside__flag-burger(width="15" height="15"): use(xlink:href="#burger")

				| Каталог
			
			.visible-sm(:class="{'hidden': asideMenuCatalog}")
				.aside__nav
					.aside-nav
						.aside-nav__title КАПИТАЛЬНОЕ СТРОИТЕЛЬСТВО 
						.aside-nav__list
							li.aside-nav__item: a.aside-nav__link(href="#") Архитектурное проектирование
							li.aside-nav__item: a.aside-nav__link(href="#") Реконструкция существующих зданий и сооружений
							li.aside-nav__item: a.aside-nav__link(href="#") Техническое заключение конструкций, экспертиза
							li.aside-nav__item: a.aside-nav__link(href="#") Капитальный и текущий ремонт помещений любого назначения
							li.aside-nav__item: a.aside-nav__link(href="#") Малоэтажное строительство
							li.aside-nav__item: a.aside-nav__link(href="#") Разработка и согласование проектной документации

				.aside__nav
					.aside-nav
						.aside-nav__title МОНТАЖ СИСТЕМ ВЕНТИЛЯЦИИ
						.aside-nav__list
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж приточно вытяжной установки
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж канальных и крышных вентиляторов
							li.aside-nav__item: a.aside-nav__link(href="#") Пусконаладочные работы (ПНР) систем вентиляции 
								
				.aside__nav
					.aside-nav
						.aside-nav__title МОНТАЖ СИСТЕМ ЭЛЕКТРОСНАБЖЕНИЯ
						.aside-nav__list
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж электрических сетей
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж систем электроосвещения
							li.aside-nav__item: a.aside-nav__link(href="#") Пусконаладка электрооборудования
								
					.aside__nav
						.aside-nav
							.aside-nav__title РЕМОНТ КОММЕРЧЕСКИХ ПОМЕЩЕНИЙ
							.aside-nav__list
								li.aside-nav__item: a.aside-nav__link(href="#") Ремонт магазинов
								li.aside-nav__item: a.aside-nav__link(href="#") Ремонт складов
								li.aside-nav__item: a.aside-nav__link(href="#") Реконструкция помещений
								li.aside-nav__item: a.aside-nav__link(href="#") Ремонт и отделка банков
								li.aside-nav__item: a.aside-nav__link(href="#") Отделка офисов
								li.aside-nav__item: a.aside-nav__link(href="#") Дизайн-проект
								li.aside-nav__item: a.aside-nav__link(href="#") Проектирование и согласование
								li.aside-nav__item: a.aside-nav__link(href="#") Капитальный ремонт
									
					.aside__nav
						.aside-nav
							.aside-nav__title МОНТАЖ СКС
							.aside-nav__list
								li.aside-nav__item: a.aside-nav__link(href="#") Монтаж локально-вычислительных сетей
								li.aside-nav__item: a.aside-nav__link(href="#") Монтаж компьютерной сети
								li.aside-nav__item: a.aside-nav__link(href="#") Монтаж ВОЛС
								li.aside-nav__item: a.aside-nav__link(href="#") Тестирование СКС и сертификация
								li.aside-nav__item: a.aside-nav__link(href="#") Тестирование ЛВС
								
				.aside__nav
					.aside-nav
						.aside-nav__title МОНТАЖ СИСТЕМ КОНДИЦИОНИРОВАНИЯ
						.aside-nav__list
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж чиллеров и фанкойлов
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж VRF-систем
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж прецизионных кондиционеров
								
				.aside__nav
					.aside-nav
						.aside-nav__title МОНТАЖ СИСТЕМ ЭЛЕКТРОСНАБЖЕНИЯ
						.aside-nav__list
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж электрических сетей
							li.aside-nav__item: a.aside-nav__link(href="#") Монтаж систем электроосвещения
							li.aside-nav__item: a.aside-nav__link(href="#") Пусконаладка электрооборудования
		.grid__column.grid__column_main
			h2.s-main-catalog__title.t2 Товары и Оборудование для адаптации
			-
				let catalog = [{
					id: 1,
					title: 'Тактильная вывеска с шрифтом Брайля 500х600мм',
					chars: 'Материал: Композит	<br> Размер: 500х600мм',
					price: '2289.00 ₽'
				},
				{
					id: 2,
					title: 'Беспроводная кнопка вызова помощи для инвалидов ДП-1м',
					chars: 'Материал: Композит	<br> Размер: 500х600мм',
					price: '21 489.00 ₽'
				},
				{
					id: 3,
					title: 'Тактильная вывеска с шрифтом Брайля 500х600мм',
					chars: 'Материал: Акрил/ПВХ/Композит	<br>Размер: 500х600мм',
					price: '7089.00 ₽'
				},
				{
					id: 4,
					title: 'Тактильная вывеска с шрифтом Брайля 500х600мм',
					chars: 'Материал: Композит	<br> Размер: 500х600мм',
					price: '4500.00 ₽'
				},
				{
					id: 5,
					title: 'Беспроводная кнопка вызова помощи для инвалидов ДП-1м',
					chars: 'Материал: Композит	<br> Размер: 500х600мм',
					price: '6100.00 ₽'
				},
				{
					id: 6,
					title: 'Тактильная вывеска с шрифтом Брайля 500х600мм',
					chars: 'Материал: Акрил/ПВХ/Композит	<br>Размер: 500х600мм',
					price: '4400.00 ₽'
				},
				{
					id: 7,
					title: 'Беспроводная кнопка вызова помощи для инвалидов ДП-1м',
					chars: 'Размер: 150х200мм <br>Материал: кнопка влагозащитная (IP44), приемное устройство, <br>табличка композит',
					price: '1089.00 ₽'
				},
				{
					id: 8,
					title: 'Тактильные наклейки на окончании поручни 3 шт...',
					chars: 'Материал: Пленка с/к	<br>Размер: 40х120мм',
					price: '7000.00 ₽'
				},
				{
					id: 9,
					title: 'Беспроводная кнопка вызова помощи для инвалидов ДП-1м',
					chars: 'Материал: Композит	<br> Размер: 500х600мм',
					price: '21 489.00 ₽'
				}];
			.s-main-catalog__grid: each c in catalog
				.s-main-catalog__item
					card-catalog(title=c.title price=c.price image="images/catalog/"+c.id+".jpg" link="#")
						| !{c.chars}
			.s-main-catalog__paper.paper-with-button.--h-175.paper-yellow()
				button.paper-with-button__button.button.button_type_button.button_round_40.button_size_md.button_theme_black.--w-200.text-uppercase скачать в PDF