.s-envelope
	.s-envelope__container
		.s-envelope__column
			.c-envelope
				.c-envelope__title Комфортная Среда
				.c-envelope__icons
					img.c-envelope__icon(src="images/icons/1.svg" width="30" height="26")
					img.c-envelope__icon(src="images/icons/2.svg" width="28" height="30")
					img.c-envelope__icon(src="images/icons/3.svg" width="26" height="30")
		.s-envelope__column
			ol.s-envelope__list
				li Проведение обследования
				li Разработка сметной и тендерной документации
				li Поставка оборудования
				li Строительно-монтажные работы