.s-foo-nav.paper-periwinkle
	.s-foo-nav__container
		.s-foo-nav__column.s-foo-nav__column_logo
			img(src="images/logo.svg", alt="" width="178" height="42")
		.s-foo-nav__column.s-foo-nav__column_nav
			ul.nav-header
				li.nav-header__item
					a.nav-header__link(href="#") Главная
				li.nav-header__item
					a.nav-header__link(href="#") Нормативные документы
				li.nav-header__item
					a.nav-header__link(href="#") Фото
				li.nav-header__item
					a.nav-header__link(href="#") Отзывы
				li.nav-header__item
					a.nav-header__link(href="#") Контакты
		.s-foo-nav__column.s-foo-nav__column_contact
			.address
				.address__icon: svg.svg(width="9" height="12"): use(xlink:href="#target")
				.address__desc 
					a.address__link.decoration-midnight(href="#") Великий Новгород
					| , ул.Псковская дом 56
			.phone 8 (812) 222-05-85