.paper-smoke.w-foo
	include nav-foo
	footer.s.s-foo
		.s__container.s-foo__container
			.s__gutter.s-foo__side.s-foo__side_logo
				img.s-foo__logo(src="images/logo.png" alt="Логотип: Группа компаний ГАРО")
			.s__gutter.s-foo__side.s-foo__side_copy
				p.s-foo__copy АО «ГАРО-Трейд» осуществляет свою деятельность начиная с 2005 года в составе одного из крупнейших отечественных производственно-коммерческих объединений – Группы Компаний ГАРО - лидера на рынке автосервисного оборудования.
