.s-header
	.s-header__container
		.s-header__column.s-header__column_burger
			button.button.button-burger.s-header__burger
				svg(width="30" height="30"): use(xlink:href="#burger")
		.s-header__column.s-header__column_logo
			img.s-header__logo(src="images/logo.svg" width="178" height="42")
		.s-header__column.s-header__column_nav
			ul.nav-header
				li.nav-header__item
					a.nav-header__link(href="#") Главная
				li.nav-header__item
					a.nav-header__link(href="#") Нормативные документы
				li.nav-header__item
					a.nav-header__link(href="#") Фото
				li.nav-header__item
					a.nav-header__link(href="#") Отзывы
				li.nav-header__item
					a.nav-header__link(href="#") Контакты
		.s-header__column.s-header__column_button
			button.button.button_theme_yellow.button_type_button.button_size_sm.button_round_20.--w-175.text-uppercase Заказать звонок