.s-info
	.s-info__container
		h2.s-info__title.t2 Оборудование для адаптации зданий и территорий по гусударственной программе доступная среда
		.s-info__grid
			.s-info__item
				.c-info
					.c-info__title Выезд на объект
					.c-info__desc Разработка проекта электроснабжения, определение типов электрических сетей, расчет токов срабатывания, токов утечки автоматики, точный подбор сечения кабелей. 
			.s-info__item
				.c-info
					.c-info__title Консультации
					.c-info__desc Помощь в выборе принципиальной схемы отопления и вентиляции: централизованная или автономная; рекуперация, длинноволновой обогрев или режим теплового насоса; приточная или приточно-вытяжная.
			.s-info__item
				.c-info
					.c-info__title Смета
					.c-info__desc Помощь в выборе принципиальной схемы отопления и вентиляции: централизованная или автономная; рекуперация, длинноволновой обогрев или режим теплового насоса; 
			.s-info__item
				.c-info
					.c-info__title Поставка
					.c-info__desc Разработка проекта электроснабжения, определение типов электрических сетей, расчет токов срабатывания, токов утечки автоматики, точный подбор сечения кабелей. 
			.s-info__item
				.c-info
					.c-info__title Монтаж
					.c-info__desc Помощь в выборе принципиальной схемы отопления и вентиляции: централизованная или автономная; рекуперация, длинноволновой обогрев или режим теплового насоса; приточная или приточно-вытяжная.
			.s-info__item
				.c-info
					.c-info__title Обслуживание
					.c-info__desc Помощь в выборе принципиальной схемы отопления и вентиляции: централизованная или автономная; рекуперация, длинноволновой обогрев или режим теплового насоса; 