.s-map-of-services
	.s-map-of-services__container
		.s-map-of-services__item
			a.s-map-of-services__link.text-uppercase(href="#") КАПИТАЛЬНОЕ СТРОИТЕЛЬСТВО
		.s-map-of-services__item
			a.s-map-of-services__link.text-uppercase(href="#") РЕМОНТ КОММЕРЧЕСКИХ ПОМЕЩЕНИЙ
		.s-map-of-services__item
			a.s-map-of-services__link.text-uppercase(href="#") ИНЖЕНЕРНЫЕ СИСТЕМЫ
		.s-map-of-services__item
			a.s-map-of-services__link.text-uppercase(href="#") МОНТАЖ СИСТЕМ ВЕНТИЛЯЦИИ
		.s-map-of-services__item
			a.s-map-of-services__link.text-uppercase(href="#") МОНТАЖ СИСТЕМ КОНДИЦИОНИРОВАНИЯ
		.s-map-of-services__item
			a.s-map-of-services__link.text-uppercase(href="#") МОНТАЖ СКС
		.s-map-of-services__item
			a.s-map-of-services__link.text-uppercase(href="#") МОНТАЖ СИСТЕМ ЭЛЕКТРОСНАБЖЕНИЯ