.s-top
	.s-top__container
		.s-top__column.s-top__column_address
			.s-top__address.address.text-smoke
				.address__icon: svg.svg.fill-yellow(width="9" height="12"): use(xlink:href="#target")
				.address__desc 
					a.address__link.decoration-yellow(href="#") Великий Новгород
					| , ул.Псковская дом 56
		.s-top__column.s-top__column_phone
			.phone 8 (812) 222-05-85