.paper-yellow {
	background-color $color-yellow
}

/*
.paper-pearly {
	background-color $color-pearly
}

.paper-dusty {
	background-color $color-dusty
}

.paper-blue {
	background-color $color-blue
}

.paper-purple {
	background-color $color-purple
}

.paper-crayola {
	background-color $color-crayola
}

.paper-alizarin {
	background-color $color-alizarin
}

.paper-lime {
	background-color $color-lime
}

.paper-periwinkle {
	background-color $color-periwinkle
}

.paper-granite {
	background-color $color-granite
}

.paper-asphalt {
	background-color $color-asphalt
}

.paper-smoke {
	background-color $color-smoke
}

.paper-white {
	background white
}

.paper-gradient-smoke {
	background linear-gradient(270deg, rgba(255, 255, 255, .4356) 0, rgba(255, 255, 255, .66) 50.04%, rgba(255, 255, 255, .4356) 100%), $color-smoke
}

*/