.text-pearly {
	color $color-pearly
}

.text-dusty {
	color $color-dusty
}

.text-blue {
	color $color-blue
}

.text-purple {
	color $color-purple
}

.text-crayola {
	color $color-crayola
}

.text-alizarin {
	color $color-alizarin
}

.text-lime {
	color $color-lime
}

.text-periwinkle {
	color $color-periwinkle
}

.text-granite {
	color $color-granite
}

.text-asphalt {
	color $color-asphalt
}

.text-smoke {
	color $color-smoke
}

.text-telegrays {
	color $color-telegrays
}

.text-silver {
	color $color-silver
}

.text-white {
	color white
}

.text-nowrap {
	white-space nowrap
}

.text-center {
	text-align center
}

.text-left {
	text-align left
}

.text-right {
	text-align right
}

.text-justify {
	text-align justify
}

.text-300 {
	font-weight 300
}

.text-400 {
	font-weight 400
}

.text-500 {
	font-weight 500
}

.text-700 {
	font-weight 700
}

.text-uppercase {
	text-transform uppercase
}
