.h1 {
	margin 0 0 30px
	font-weight 700
	font-size 36px
	line-height 1.5
	text-transform uppercase
}

.h2 {
	margin 0 0 30px
	font-weight 400
	font-size 30px
	line-height 1.5
	text-transform uppercase
}

.h3 {
	margin 0 0 20px
	font-weight 700
	font-size 21px
	line-height 1.5
}


.p {
	margin 0 0 20px
	color $color-asphalt
	font-size 15px
	line-height 19px
}

.p-13 {
	margin 0 0 20px
	color $color-asphalt
	font-weight 300
	font-size 13px
}


.table {
	width 100%
	border-collapse separate
	border-spacing 0
	font-size 14px
	line-height 19px
	border-radius 14px

	tr:nth-child(2n) td {
		background #F6F6F6
	}
	
	tr:last-child {
		border-radius 0 0 14px 14px
	}

	td {
		padding 17px 20px
		border 1px solid #F2F2F2
		border-right none 
		border-bottom none 


		&:last-child {
			border-right 1px solid #F2F2F2
		}
	}
	
	tr:last-child {
		border-bottom 1px solid #F2F2F2
	}
	
	&_round {
		tr:first-child {
			td:first-child {
				border-radius 14px 0 0 0
			}
			
			td:last-child {
				border-radius 0 14px 0 0
			}
		}
	
		tr:last-child {
			td:first-child {
				border-radius  0 0  0 14px
			}
			
			td:last-child {
				border-radius 0 0 14px 0 
			}
		}
	}
}


.blockquote {
	margin 10px 0
	color $color-asphalt
	quotes "\00AB" "\00BB"
	font-weight 300
	font-style italic
	font-size 13px
	line-height 18px

	&::before {
		content open-quote
	}

	&::after {
		content close-quote
	}
}

.hr {
	height 1px
	border none
	background-color $color-periwinkle
}
/*
.a {
	color $color-blue
	text-decoration none

	&:hover {
		color $color-purple
	}
}


.ul {
	margin 0 0 30px
	padding 0
	list-style-type none
	font-size 14px

	li {
		margin 0 0 3px

		&::before {
			margin-right 2ch
			content "•"
		}
	}
}

*/