// palette colors
$color-yellow = #FEED00
$color-periwinkle = #F2F4F8
$color-midnight = #165070
$color-smoke = #f2f2f2
$color-carmine-pink = #EB5757
$color-graphite-gray = #4D4D54

.fill-carmine-pink {
	fill $color-carmine-pink
}

.text-graphite-gray {
	color $color-graphite-gray
}

.text-yellow {
	color $color-yellow
}

.text-periwinkle {
	color $color-periwinkle
}

.text-midnight {
	color $color-midnight
}

.text-smoke {
	color $color-smoke
}



.decoration-yellow {
	text-decoration-color $color-yellow
}

.decoration-periwinkle {
	text-decoration-color $color-periwinkle
}

.decoration-midnight {
	text-decoration-color $color-midnight
}

.decoration-smoke {
	text-decoration-color $color-smoke
}

.paper-yellow {
	background-color $color-yellow
}

.paper-periwinkle {
	background-color $color-periwinkle
}

.paper-midnight {
	background-color $color-midnight
}

.paper-smoke {
	background-color $color-smoke
}
/*
$color-pearly = #999999
$color-dusty = #C2E3ED
$color-blue = #3399CC
$color-greenish-blue = #2D7FA8
$color-blue-green = #097CB5
$color-purple = #304191
$color-crayola = #A4ABCE
$color-alizarin = #E31E24
$color-lime = #4AD63E
$color-turquoise = #7EA1AB


// palete black & white colors
$color-granite =  #303133
$color-asphalt = #4F4F4F
$color-periwinkle = #F2F7FA
$color-periwinkle-2 = #DFEEF2
$color-periwinkle-3 = #CAE0E5
$color-periwinkle-4 = #EBF5F7
$color-smoke = #F6F6F6
$color-smoke-2 = #F9F9F9
$color-smoke-3 = #F2F2F2
$color-smoke-4 = #f8f8f8
$color-telegrays = #ccc
$color-gainsborough = #E2E2E2
$color-silver = #c4c4c4
*/