.aside-rec-catalog.aside__item
	.aside-rec-catalog__title Вам также может понадобиться
	.c-catalog
		header.c-catalog__header
			img.fully-img.c-catalog__pr(src="images/tape-catalog/1.jpg" width="280" height="187" alt="Фото 1")
			a.c-catalog__ctrl.c-catalog__ctrl_zoom(href="images/tape-catalog/1.jpg" data-fancybox): svg.icon(width="16" height="16"): use(xlink:href="#zoom")
			a.c-catalog__ctrl.c-catalog__ctrl_compare(href="#"): svg.icon(width="16" height="15"): use(xlink:href="#graph")
		.c-catalog__body
			.c-catalog__caption
				.c-catalog__title.text-500.text-granite Стенд сход-развал Geoliner 550 Prism KIT
				.c-catalog__desc.text-300.text-asphalt никальный стенд сход-развал (РУУК) л/а, объединяющий CCD и 3D-технологии...
			.c-catalog__price.text-purple.text-700 706 920 Руб.
				span.text-400  Руб.
		footer.c-catalog__foo
			a.c-catalog__button.button.button_type_link.button_size_sm.button_theme_alizarin(href="#") Купить в 1 клик
			a.c-catalog__button.button.button_type_link.button_size_sm.button_theme_lime(href="#")
				svg.button__icon.icon(width="16" height="16"): use(xlink:href="#busket")
				.button__text В корзину
